<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @gallery_2.description %>
</p>

<%= link_to 'Edit', edit_gallery_2_path(@gallery_2) %> |
<%= link_to 'Back', gallery_2s_path %>
